* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

body{
  background-color: #eaeded;
}
/* body {
  height: 1000vh;
}
section {
  height: 1000vh;
} */
nav {
  background-color: #131921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 4px 10px;
}
.dflex {
  display: flex;
  align-items: center;
}
.item {
  padding: 10px 10px;
}
.item:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: -1px;
}
.logo {
  text-align: center;
  margin: 1px;
  margin-bottom: -5px;
  padding: 6px 8px 0px 0px;
  height: 42px;
}
nav a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 5px 5px;
}

#banner{
  padding: 0;
  margin: 0;
} 

a:hover {
  border: 1px solid #fff;
  margin: -1px;
  border-radius: 3px;
}
nav a span {
  font-size: 14px;
  margin-left: -10px;
}
p {
  font-size: 12px;
  line-height: 15px;
}
.item i {
  padding: 0 3px;
}
nav input {
  width: auto;
  min-width: 450px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
}
nav button {
  padding: 10px 10px;
  color: black;
  font-size: 17px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
nav .all {
  background: #ddd;
  border-radius: 5px 0px 0px 5px;
}
nav .search {
  padding: 10px 17px;
  margin: -2px;
  background-color: #febd69;
  border-radius: 0px 5px 5px 0px;
}
nav .search i,
nav .all i {
  color: black;
}
.box:hover {
  border: 4px solid rgb(247, 155, 80);
  box-shadow: 0px 0px 3px 0px rgb(247, 155, 80);
  border-radius: 10px;
}
.subnavigation {
  background-color: #232f3e;
  padding: 6px 15px;
  max-height: 39px;
}
.submenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul li {
  list-style: none;
  font-weight: 500;
  padding: 1px 5px;
  font-size: 14px;
}
nav submenu i {
  font-size: 16px;
}
/* .li {
  margin: -5px;
  font-size: 20px;
}
.bg {
  position: relative;
  padding: 6px 6px;
  margin: -5px 0;
  margin-right: 10px;
} */

.sec-1{
  position: relative;
  width: 100%;
  height: 1190px;
  box-sizing: border-box;
}
.slide img{
  width: 1360px;
  height: 100%;
}
.container{
  position: relative;
  width: 100%;
  height: auto;
}
.slider{
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 560px;
}
.image-box{
  display: flex;
  position: absolute;
  animation: carousel 15s alternate infinite;
}
@keyframes carousel{
  0%{
    left: 0;
  }
  20%{
    left: 0%;
  }
  24%{
    left: -1360px;
  }
  50%{
    left: -1360px;
  }
  54%{
    left: calc(-1360*2px);
  }
  80%{
    left: calc(-1360*2px);
  }
  84%{
    left: calc(-1360*3px);
  }
  100%{
    left: calc(-1360*3px);
  }
}
.container-1{
  position: absolute;
  z-index: 1;
  top: 230px;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #eaeded 30%);
}
.product-comp{
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 20px 0;
  justify-content: space-around;
}
.product-comp .caixa{
  width: 315px;
  height: 400px;
  background-color: white;
}
.caixa h3{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(43,42,42);
}
.caixa a{
  font-size: 13px;
  margin-left: 20px;
  display: block;
  padding-top: 30px;
  color: #007185;
  text-decoration: dotted;
}
.caixa a:hover{
  text-decoration: underline;
  color: #C7511F;
}
.caixa-a{
  overflow: hidden;
  background-color: white;

}
.caixa div img{
  width: 167px;
  height: 120px;
  cursor: pointer;
  margin-left: -20px;
  margin-right: 20px;
}
.caixa-a div{
  display: inline-block;
}
.caixa-a div span{
  display: block;
  font-size: 13px;
  margin-left: 20px;
  color: black;
}